*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
body{
    color: #fff;
    background-color:#24232e;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

html{
    scroll-behavior: smooth;
}
.Header{
    height: 40px;
    transition: all 2s ease-in-out;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.Header-wrapper{
    position: relative;
    padding: 0 10px;
    max-width: 1180px;
    margin: 0 auto 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.Header-Logo{
    color: black;
}

.Header-link{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-link li{
    list-style: none;
    margin-left: 20px;
}

.Header ul a{
    text-decoration: none;
}
.Ham{
    color: black;
    position: absolute;
    right: 30px;
    display: none;
}

.Home{
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.Home-wrapper{
    overflow: hidden;
    max-width: 1180px;
    margin: 0 auto 0;
    height: 100%;
    position: relative;
}

.Home-bg{
    width: 100%;
    height: 100%;
    position: absolute;
}

.Home-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.Home-Detail{
    width: 600px;
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 20px;
    transition: all 4s ease-in;
    z-index: 1;
}

.Home-Detail p{
    margin-top: 20px;
    font-size: 25px;
}

.Personal2{
    height: 100vh;
}

.Personal-wrapper{
    max-width: 1180px;
    margin: 0 auto 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Personal-img{
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 1s ease-out;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
}

.Personal-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Personal-detail{
    margin-left: 20px;
    font-size: 20px;
    transition: all 1s ease-out;
}

.Personal-detail p {
    margin: 10px 0;
}


.Childhood{
    height: 50vh;
}

.Childhood-wrapper{
    height: 100%;
    max-width: 1180px;
    margin: 0 auto 0;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Childhood-wrapper h1:nth-of-type(2){
    border-top: 1px solid white;
    margin-top: 20px;
    padding-top: 20px;

}

.Childhood-detail{
    transition: all 1s ease-in-out;
}

.Playing{
    color: #fff;
}

.Barcelona{
    height: 100vh;
}

.Barcelona-wrapper{
    max-width: 1180px;
    height: 100%;
    padding: 10px 10px;
    margin: 0 auto 0;
    border-top: 1px solid rgb(170, 170, 170);
}

.Barcelona-img{
    height: 70%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;
    transition: opacity 1s ease-in-out;
}

.Barcelona-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.Barcelona-detail{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23vh;
}

.Paris{
    height: 100vh;
}

.Paris-wrapper{
    border-top: 1px solid rgb(170, 170, 170);
    max-width: 1180px;
    height: 100%;
    padding: 10px 10px;
    margin: 0 auto 0;
}

.Paris-img{
    height: 70%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;
    transition: opacity 1s ease-in-out;
}

.Paris-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.Paris-detail{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23vh;
}

.Miami{
    height: 100vh;
}

.Miami-wrapper{
    border-top: 1px solid rgb(170, 170, 170);
    max-width: 1180px;
    height: 100%;
    padding: 10px 10px;
    margin: 0 auto 0;
}

.Miami-img{
    height: 70%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;
}


.Miami-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.Miami-detail{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23vh;
}

.Success{
    height: 100vh;
}

.Success-wrapper{
    border-top: 1px solid rgb(170, 170, 170);
    max-width: 1180px;
    height: 100vh;
    padding: 10px 10px;
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Success-detail{
    font-size: 20px;
    margin-right: 20px;
    text-align: start;
}

.Success-detail li{
    margin: 10px 0;
}

.Success-img{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.Success-img img{
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}
.National{
    height: 100vh;
}

.National-wrapper{
    max-width: 1180px;
    height: 100vh;
    padding: 10px 10px;
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.National-img{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
}


.National-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.National-detail{
    width: 400px;
    font-size: 20px;
    margin-left: 20px;
}


.National-detail li{
    margin: 10px 0;
}

.Life{
    height: 100vh;
}

.Life-wrapper{
    max-width: 1180px;
    margin: 0 auto 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Life-detail1{
    padding: 10px 20px;
    position: relative;
    text-align: center;
    font-size: 20px;
    width: 400px;
    height: 500px;
    background-color: #352241;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);

}


.Life-detail2{
    padding: 10px 20px;
    position: relative;
    text-align: center;
    font-size: 20px;
    width: 400px;
    height: 500px;
    margin-left: 20px;
    background-color: #352241;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
}
.Life-img{
    position: absolute;
    bottom: 10%;
    left: 14%;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.Life-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Info{
    height: auto;
    border-top: 1px solid rgb(170, 170, 170);
}

.Info-wrapper{
    height: 100%;
    padding-top: 10px;
    max-width: 1180px;
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.Info-contact{
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(170, 170, 170);
}

.Info-contact span{
    margin: 0 10px
}



